<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>Create new user</title>
</head>
<body>
<header class="flexible spaced">
    <h1>Create new user</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" class="button button_danger" value="Log out"/>
    </form>
</header>
<section>
    <div><a href="/admin"><button class="button button_warn">Go back</button></a></div>
    <br/>
    <br/>

    <form method="POST" th:action="@{/admin}" th:object="${user}">
        <div class="flexible">
            <label for="name">Name</label>
            <input type="text" placeholder="Enter name" id="name" th:field="*{name}"/>
        </div>
        <div class="flexible">
            <label for="last_name">Last name</label>
            <input type="text" placeholder="Enter last name" id="last_name" th:field="*{lastName}"/>
        </div>
        <div class="flexible">
            <label for="username">Username</label>
            <input type="text" placeholder="Enter username" id="username" th:field="*{username}"/>
        </div>
        <div class="flexible">
            <label for="password">Password</label>
            <input type="password" placeholder="Enter password" id="password" th:field="*{password}"/>
        </div>
        <div class="flexible">
            <p>Roles</p>
            <div th:each="role : ${roles}">
                <label th:for="${#ids.next('roles')}" th:text="${role.name}">VALUE</label>
                <input type="checkbox" th:field="*{roles}" th:value="${role.id}"/>
            </div>
        </div>
        <div class="flexible">
            <div class="flexible">
                <label for="enabled">Enabled</label>
                <input type="checkbox" th:field="${user.enabled}" id="enabled">
            </div>
            <div class="separator_vertical">|</div>
            <div class="flexible">
                <label for="accountNonExpired">Account Not Expired</label>
                <input type="checkbox" th:field="${user.accountNonExpired}" th:checked="${user.accountNonExpired}" id="accountNonExpired">
            </div>
            <div class="separator_vertical">|</div>
            <div class="flexible">
                <label for="accountNonLocked">Account Not Locked</label>
                <input type="checkbox" th:field="${user.accountNonLocked}" th:checked="${user.accountNonLocked}" id="accountNonLocked">
            </div>
            <div class="separator_vertical">|</div>
            <div class="flexible">
                <label for="credentialsNonExpired">Credentials Not Expired</label>
                <input type="checkbox" th:field="${user.credentialsNonExpired}" th:checked="${user.credentialsNonExpired}" id="credentialsNonExpired">
            </div>
        </div>
        <button type="submit" class="button button_action">Create user</button>
        <button type="reset" class="button button_danger">Reset form</button>
    </form>
</section>

</body>
</html>