<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>User Page</title>
</head>
<body>
<header class="flexible spaced">
    <h1>Detailed user page</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" class="button button_danger" value="Log out"/>
    </form>
</header>
<section>
    <div><a href="/admin"><button class="button button_warn">Go back</button></a></div>
    <div class="flexible">
        <p class="bold">ID</p>
        <p th:text="${user.id}">VALUE</p>
    </div>
    <div class="flexible">
        <p class="bold">Name</p>
        <p th:text="${user.name}">VALUE</p>
    </div>
    <div class="flexible">
        <p class="bold">Last name</p>
        <p th:text="${user.lastName}">VALUE</p>
    </div>
    <div class="flexible">
        <p class="bold">Email</p>
        <p th:text="${user.email}">VALUE</p>
    </div>
    <div class="flexible">
        <p class="bold">Age</p>
        <p th:text="${user.age}">VALUE</p>
    </div>
    <div class="flexible">
        <p class="bold">Username</p>
        <p th:text="${user.username}">VALUE</p>
    </div>
    <div class="flexible">
        <p class="bold">Roles</p>
        <p th:each="role : ${user.roles}"><span th:text="${role.name}"></span>, </p>
    </div>
    <table>
        <thead>
        <tr>
            <th class="bold">Enabled</th>
            <th class="bold">Account Expired</th>
            <th class="bold">Account Locked</th>
            <th class="bold">Credentials Expired</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user.enabled}"></td>
            <td th:text="${!user.accountNonExpired}"></td>
            <td th:text="${!user.accountNonLocked}"></td>
            <td th:text="${!user.credentialsNonExpired}"></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>