<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link href="/style.css" rel="stylesheet">
    <title>Spring Security Example</title>
</head>
<body>
<header class="flexible spaced">
    <h1>Welcome to Index PAGE!</h1>

    <div th:if="${user} != null">
        <form th:action="@{/logout}" method="post">
            <input type="submit" class="button button_danger" value="Log out"/>
        </form>
    </div>
</header>

<div>
    <p><a href="/user">User go here</a></p>
    <p><a href="/admin">Admin go here</a></p>
</div>

</body>
</html>